# Effectively disable Linguist
*.lsp linguist-vendored
.lsp linguist-vendored
*.tst linguist-vendored
.tst linguist-vendored
*.sl linguist-vendored
.sl linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
.c linguist-vendored
.h linguist-vendored
*.red linguist-vendored
.red linguist-vendored
*.reduce linguist-vendored
.reduce linguist-vendored
*.tex linguist-vendored
.tex linguist-vendored
*.latex linguist-vendored
.latex linguist-vendored
reduce2/* linguist-vendored
r38/* linguist-vendored
r37/* linguist-vendored
r36/* linguist-vendored
r35/* linguist-vendored
r34/* linguist-vendored
r34.3/* linguist-vendored
r34.1/* linguist-vendored 
r33/* linguist-vendored
r30/* linguist-vendored
psl/* linguist-vendored
psl-1983/* linguist-vendored
perq-pascal-lisp-project/* linguist-vendored
.github/* linguist-vendored
./* linguist-vendored
