# Effectively disable Linguist
.in linguist-vendored
*.in linguist-vendored
.am linguist-vendored
*.am linguist-vendored
Makefile linguist-vendored
*.r linguist-vendored
.r linguist-vendored
*.y linguist-vendored
.y linguist-vendored
*.sh linguist-vendored
.sh linguist-vendored
*.tex linguist-vendored
.tex linguist-vendored
r38/lisp/csl/cslbase/configure linguist-vendored
configure linguist-vendored
config.guess linguist-vendored
config.sub linguist-vendored
install-sh linguist-vendored
setexec linguist-vendored
testrest linguist-vendored
ciall linguist-vendored
package linguist-vendored
clash linguist-vendored
relink linguist-vendored
testslow linguist-vendored
checkall linguist-vendored
profile linguist-vendored
makeall linguist-vendored
jlisp linguist-vendored
patchup linguist-vendored
boot37 linguist-vendored
full37 linguist-vendored
c-code37 linguist-vendored
getpatches linguist-vendored
nm-command.command linguist-vendored
*.command linguist-vendored
.command linguist-vendored
*.java linguist-vendored
.java linguist-vendored
*.js linguist-vendored
.js linguist-vendored
*.html linguist-vendored
.html linguist-vendored
*.htm linguist-vendored
.htm linguist-vendored
*.css linguist-vendored
.css linguist-vendored
*.cpp linguist-vendored
.cpp linguist-vendored
*.H linguist-vendored
.H linguist-vendored
*.mss linguist-vendored
.mss linguist-vendored
*.lsp linguist-vendored
.lsp linguist-vendored
*.tst linguist-vendored
.tst linguist-vendored
*.sl linguist-vendored
.sl linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
.c linguist-vendored
.h linguist-vendored
*.red linguist-vendored
.red linguist-vendored
*.reduce linguist-vendored
.reduce linguist-vendored
*.tex linguist-vendored
.tex linguist-vendored
*.latex linguist-vendored
.latex linguist-vendored
reduce2/* linguist-vendored
r38/* linguist-vendored
r37/* linguist-vendored
r36/* linguist-vendored
r35/* linguist-vendored
r34/* linguist-vendored
r34.3/* linguist-vendored
r34.1/* linguist-vendored 
r33/* linguist-vendored
r30/* linguist-vendored
psl/* linguist-vendored
psl-1983/* linguist-vendored
perq-pascal-lisp-project/* linguist-vendored
.github/* linguist-vendored
./* linguist-vendored
